<html>
<head>
    <link rel="stylesheet" href="~/Content/still.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <

</head>
<body>
    <div id="grad1"></div>

    <a href="/">  <img src="~/Content/Images/logo.png" id="logo"></a>
    <div class="card row justify-content-center  align-items-center align-right-12 col-md-12 " style="width: 450px;height:450px; margin-left:35%; box-shadow:2px 2px 2px 1px;">
        @RenderBody()        
    </div>
</body>
</html>